@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
  background-color: #000;
  color: #fff;
  font-family: 'Star Wars';
  font-size: small;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  margin-bottom: 20px;
}

.form input[type='text'],
.form input[type='number'],
.form select {
  padding: 8px;
  font-size: 16px;
}

.button {
  background-color: #ffa000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffca28;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters label {
  margin-right: 10px;
  font-size: 16px;
}

.filters input[type='radio'] {
  margin-left: 5px;
}

.filters select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}

.filters p {
  margin-bottom: 10px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

th {
  background-color: #ffa000;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #222;
}

tr:hover {
  background-color: #555;
}

a {
  color: #ffa000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
